name: Deploy Next.js Application

on:
  push:
    branches:
      - dev

env:
  NODE_VERSION: 18

jobs:
  cypress:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Cypress tests
        uses: cypress-io/github-action@v6
        with:
          build: npm run build
          start: npm start
        env:
          NEXT_PUBLIC_API_URL: ${{ vars.API_URL }}
          CYPRESS_API_URL: ${{ vars.API_URL }}

      - name: Upload screenshots
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress/screenshots